<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:34 GMT -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Scentofia Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="/admin-assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/admin-assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin-assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin-assets/images/favicon.png" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="navbar-brand brand-logo" href="/admin/dashboard"
            ><img src="/admin-assets/images/logo.png" alt="logo"
          /></a>
          <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"
            ><img src="/admin-assets/images/favicon.png" alt="logo"
          /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button
            class="navbar-toggler navbar-toggler align-self-center"
            type="button"
            data-toggle="minimize"
          >
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input
                  type="text"
                  class="form-control me-2 bg-transparent border-1"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="search"
                />
              </div>
              <button class="btn btn-dark" type="submit">Search</button>
            </form>
          </div>

          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="mdi mdi-menu"></span>
          </button>

          <!-- Dropdown Menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Admin
              </a>
              <div
                class="dropdown-menu dropdown-menu-right bg-dark"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item bg-dark text-light"
                  href="/admin/logout"
                >
                  <i class="mdi mdi-logout mr-2 text-danger"></i> Logout
                </a>
              </div>
            </li>
          </ul>
          <!-- End Dropdown Menu -->
        </div>
      </nav>
   
