<%- include('header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="header__logo">
        <a href="/"><img src="/assets/img/logo.png" alt=""></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <nav class="header__menu mobile-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/shop/men">Men</a></li>
          <li><a href="/shop/women">Women</a></li>
          <li><a href="/contactUs">Contact us</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="header__nav__option">
      <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt=""><span class="cart-badge badge bg-danger ml-1" style="color: white; border-radius: 50%; "><%=wishlistCount%></span>
         </a>
        <a href="/cart"><img src="/assets/img/icon/cart.png" alt="">
          <span class="cart-badge badge bg-danger" style="color: white; border-radius: 50%; "><%=cartCount%></span>
        </a>
      </div>
    </div>
  </div>
  <div class="canvas__open"><i class="fa fa-bars"></i></div>
</div>
</header>
<!-- Header Section End -->

<style>
  .error-message {
    color: #dc3545;
    font-size: 0.8rem;
  }

  .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">Change Password</h2>
          <form id="passwordChangeForm" class="needs-validation" novalidate method="post" onsubmit="checkPassword(event)">
            <!-- Old Password -->
            <div class="form-group">
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter Old Password" required>
              <div class="invalid-feedback">
                Please enter your old password.
              </div>
              <div class="wrongPassword text-danger" style="display: none;">Incorrect Old Password</div>
            </div>
            <!-- New Password -->
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
              <div class="invalid-feedback">
                Password must contain at least one uppercase letter, one lowercase letter, one number, and be at least 8 characters long.
              </div>
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required>
              <div class="invalid-feedback">
                Password must match the new password.
              </div>
            </div>
            <button type="submit" id="changePasswordButton" class="btn btn-primary btn-block">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function checkPassword(event) {
    event.preventDefault();
    const oldPassword = document.getElementById("oldPassword").value;
    const newPassword = document.getElementById("newPassword").value;
    axios.post("/profile/changePassword", {
        oldPassword: oldPassword,
        newPassword: newPassword
      })
      .then((response) => {
        if (response.data.success) {
          location.href = "/profile"
        } else {
          document.querySelector(".wrongPassword").style.display = "block";
        }
      })
      .catch((error) => {
        console.log(error);
      })
  }


  (() => {
    const form = document.getElementById('passwordChangeForm');
    form.addEventListener('submit', (event) => {
      const oldPasswordInput = document.getElementById('oldPassword');
      const newPasswordInput = document.getElementById('newPassword');
      const confirmPasswordInput = document.getElementById('confirmPassword');

      const oldPassword = oldPasswordInput.value;
      const newPassword = newPasswordInput.value;
      const confirmPassword = confirmPasswordInput.value;

      if (!form.checkValidity() || newPassword !== confirmPassword) {
        event.preventDefault();
        event.stopPropagation();
      }

      form.classList.add('was-validated');

      if (newPassword !== confirmPassword) {
        confirmPasswordInput.setCustomValidity('Password must match the new password.');
      } else {
        confirmPasswordInput.setCustomValidity('');
      }
    }, false);
  })();
</script>

<%- include('footer.ejs') %>