<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Male_Fashion Template" />
  <meta name="keywords" content="Male_Fashion, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Scentofia</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />

  <!-- Css Styles -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>


  <style>
    .header__top__hover ul a {
      display: block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }

    .header__top__hover ul a:hover {
      background-color: #f8f9fa;
      color: #ff0000;
    }
  </style>

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper pt-3">
    <% if(locals.user){ %>
    <div class="offcanvas__option d-flex justify-content-end">
      <div class="offcanvas__top__hover">
        <span><%= user.Name %> <i class="arrow_carrot-down"></i></span>
        <ul>
          <a href="/profile">
            <li>Profile</li>
          </a>
          <a href="/logout">
            <li class="text-danger">Logout</li>
          </a>
        </ul>
      </div>
      <% } else { %>
      <div class="offcanvas__option d-flex justify-content-end">
        <div class="offcanvas__top__hover">
          <a href="/login"><span>Sign in</span></a>

        </div>
        <%}%>
      </div>
      <div class="offcanvas__nav__option d-flex justify-content-end">
        <a href="/wishlist"><img src="/assets/img/icon/heart.png" alt="" />
        <%if(locals.wishlistCount>=0){%> <span class="cart-badge badge bg-danger ml-1"
                                style="color: white; border-radius: 50%; ">
                                <%=wishlistCount%>
                            </span>
                            <%}%>
                            </a>
        <a href="/cart"
          ><img src="/assets/img/icon/cart.png" alt="" /> 
          <%if(locals.cartCount>=0){%> <span id="cartCount" class="cart-badge badge bg-danger"
                                style="color: white; border-radius: 50%; ">
                                <%=cartCount%>
                            </span>
                            <%}%>
                            </a
        >
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>

  
    <!-- Offcanvas Menu End -->



    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__hover">
                  <% if(locals.user) { %>
        <span><%= user.Name %> <i class="arrow_carrot-down"></i></span>
        <ul>
          <a href="/profile">
            <li style="font-size: 20px">Profile</li>
          </a>
          <a href="/logout">
            <li class="text-danger" style="font-size: 20px">
              Logout
            </li>
          </a>
        </ul>
        <% } else { %>
        <div class="header__top__links">
          <a href="/login">Sign in</a>
        </div>
        <% } %>

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>